# Dependencias (NO subir)
node_modules/

# Carpeta compilada (NO subir)
build/

# Archivos generados por SCSS
*.css.map

# Variables de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/